In [ ]:
#%% Odczyt pliku
df_xls = spark.read.format("com.crealytics.spark.excel")\
.option("header", "true")\
.option("dataAddress", "Podkat_do testowania_Testujemy!A1")\
.load("/FileTEST/TestTomek/TestyTomka.xlsx")

In [ ]:
#%% Zaczytanie Pandasa
df_xls_pd = df_xls.toPandas()
test = df_xls_pd 
print (test)

In [ ]:
#%%  Przejście na Sparka
test_spark = spark.createDataFrame (test)
display (test_spark)

In [ ]:
#%%  Widok Tymczasowy
viewTemp = test_spark.createOrReplaceTempView ('test_spark')
display(viewTemp)

In [ ]:
#%% Odczyt sql – widok tymczasowy
%sql 
select * from test_spark

In [ ]:
#%% Grupowanie
mean = test.groupby('KATEGORIA_PRODUKTÓW').count()
print (mean)

In [ ]:
#%% warunki
chocolate = test [(test['PODKATEGORIA'] == 'CZEKOLADA MLECZNA') & (test['KATEGORIA_PRODUKTÓW'] == 'Słodycze')]
print (chocolate)

In [ ]:
#%% Kolejny warunek
bars = test [test['PODKATEGORIA']=='BATONY']
print (bars)

In [ ]:
#%% joiny

import Pandas as pd
df1 = {
    'date': ['2022-03-30', '2022-03-31', '2022-04-01'],
    'id': ['001', '002', '003'],
    'product': ['Batony', 'Jabłka', 'Napoje']
}

df2 = {
    'date': ['2022-04-01', '2022-04-02', '2022-04-03'], 
    'id': ['001', '002', '003'], 
    'product' : ['Owoce morza', 'Słodycze', 'Kebab']
}

print (df1)
print (df2)


products_one = pd.DataFrame (df1)
products_two = pd.DataFrame (df2)

all_products = products_one.join (products_two, how='outer')

common_products = products_one.join (products_two, how='inner')

In [ ]:
#%% Załadowanie pliku
load = spark.read.format("com.crealytics.spark.excel")\
.option("header", "true")\
.load("/FileTestTomek/ Wynik.xlsm")
load_Pandas = load.toPandas()
print (load_Pandas)

In [ ]:
#%% Puste wartości
empty = load_Pandas [load_Pandas ['Dostawca'].isnull()]
print (empty)

In [ ]:
#%% top5 sortowanie 
sortBudget = load_Pandas.nlargest (5,columns='BudzetCalosciowy')

In [ ]:
#%%  Po kolumnie 
load_Pandas.sort_values('Typ')

In [ ]:
#%% Słodycze
candy = load_Pandas [(load_Pandas ['Kategoria] == 'Słodycze')]
print (candy)

In [ ]:
#%% Grupowanie 
group = load_Pandas.groupby ('Typ').count()
print (group)